body {
    background-color: aqua;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left;
    background-size: auto;
    background-origin: content-box;
   
}